<nav-bar></nav-bar>

 <!-- <div class="container">
  <div class="row">
    <div class="col">
      <add-course></add-course>
    </div>
    <div class="col">
      <img  class="center" src="../assets/imgs/ic_bg.png">
    </div>
  </div>
</div> -->

<!-- <div class="container"> -->
 
  <!-- <div class="container">      -->
    <div class="row">
      <div class="col-md-6  add-course-style">
        <add-course></add-course>
      </div>
      <div class="col-md-6 img-style">
        <img  class="center" src="../assets/imgs/ic_bg.png">

      </div>
    <!-- </div> -->
  <!-- </div> -->
</div>